<div ng-controller="resetController as reset">
	<div class="col-sm-12">
		<div class="img" style="background-image:url('./img/help.png')"></div>
		<h1 class="text-xs-center">New password</h1>
	</div>
	<form name="data">
		<fieldset class="form-group">
			<div class="form-group">
				<label for="newPassword" class="col-sm-2 form-control-label">New password:</label>
				<div class="input-group col-sm-10">
					<span class="input-group-addon"><span class="fa fa-lock"></span></span>
					<input name="newPassword" type="text" class="form-control" placeholder="New password" 
					ng-model="reset.newPassword" 
					ng-change="reset.validate(reset.newPassword)"
					ng-click="reset.validate(reset.newPassword)"
					ng-trim="true"
					autofocus>
				</div>
				<div class="col-xs-12">
					<progress class="progress" ng-class="reset.validation.bar" value="{{ reset.validation.percentage }}" max="7"></progress>
				</div>
				<label for="retypePassword" class="col-sm-2 form-control-label">Retype password:</label>
				<div class="input-group col-sm-10">
					<span class="input-group-addon"><span class="fa fa-lock"></span></span>
					<input name="retypePassword" type="text" class="form-control" placeholder="Retype password" 
					ng-model="reset.retypePassword" 
					ng-required="true"
					ng-change="reset.validate(reset.newPassword)"
					ng-click="reset.validate(reset.newPassword)"
					ng-trim="true">
				</div>
				<div class="col-xs-12">
					<progress class="progress" ng-class="reset.validation.bar" value="{{ reset.validation.percentage }}" max="7"></progress>
				</div>
				<ul class="validation">
					<li ng-class="reset.validation.required">Required</li>
					<li ng-class="reset.validation.length">Minimal 8 characters long</li>
					<li ng-class="reset.validation.digits">Contain digits [0-9]</li>
					<li ng-class="reset.validation.upper">Contain uppercase characters [A-Z]</li>
					<li ng-class="reset.validation.lower">Contain lowercase characters [a-z]</li>
					<li ng-class="reset.validation.special">Contain special characters [# _ - ? = + * / ( ) " € $ etc]</li>
					<li ng-class="reset.validation.match" ng-class="">Passwords match</li>
				</ul>
			</div>
			<div class="col-xs-12">
				<button type="button" class="btn btn-success btn-block" 
				ng-click="reset.reset()" 
				ng-disabled="!reset.validation.valid">Set new password</button>
			</div>
		</fieldset>
	</form>
</div>