<div ng-controller="loginController as login">
	<div class="col-sm-12">
		<div class="img" style="background-image:url('./img/lost.png')"></div>
		<h1 class="text-xs-center">Lost password?</h1>
		<div class="alert alert-danger text-xs-center fade" role="alert" 
		ng-class="{ 'open': login.wrongPassword }">Wrong password! <a href=""	ng-click="login.lost()" class="alert-link">Lost your password?</a></div>
		<div class="alert alert-success text-xs-center fade" ng-class="{ 'open': login.changed }">
			<p>Password succesfully changed!</p>
		</div>
	</div>
	<form name="data">
		<fieldset class="form-group">
			<div class="form-group">
				<label for="username" class="col-sm-2 form-control-label">Username or Email:</label>
				<div class="input-group col-sm-10">
					<span class="input-group-addon"><span class="fa fa-user"></span></span>
					<input name="username" type="text" class="form-control" placeholder="Username or Email" 
					ng-model="login.username" 
					ng-required="true" 
					ng-change="login.changeUsername(login.username)"
					autofocus>
				</div>
				<ul class="validation">
					<li class="text-muted" ng-class="{'text-success': data.username.$valid && data.username.$touched, 'text-danger': data.username.$invalid && data.username.$touched}">Required</li>
				</ul>
			</div>
			<div class="form-group">
				<label for="passwordText" class="col-sm-2 form-control-label">Password:</label>
				<div class="input-group col-sm-10">
					<span class="input-group-addon"><span class="fa fa-lock"></span></span>
					<input name="passwordText" type="{{ login.inputType }}" class="form-control" placeholder="Password" 
					ng-model="login.password" 
					ng-required="true" 
					ng-click="login.changePassword(login.password)"
					ng-change="login.changePassword(login.password)">
					<span class="input-group-addon" 
					ng-if="!login.passwordShow" 
					ng-click="login.togglePassword()" 
					ng-mouseover="login.overEye = true" 
					ng-mouseleave="login.overEye = false"><span class="fa fa-eye-slash" 
					ng-hide="login.overEye"></span><span class="fa fa-eye" 
					ng-show="login.overEye"></span></span>
					<span class="input-group-addon" 
					ng-if="login.passwordShow" 
					ng-click="login.togglePassword()" 
					ng-mouseover="login.overEye = true" 
					ng-mouseleave="login.overEye = false"><span class="fa fa-eye" 
					ng-hide="login.overEye"></span><span class="fa fa-eye-slash" 
					ng-show="login.overEye"></span></span>
				</div>
				<ul class="validation">
					<li class="text-muted" ng-class="{'text-success': data.passwordText.$valid && data.passwordText.$touched, 'text-danger': data.passwordText.$invalid && data.passwordText.$touched}">Required</li>
				</ul>
			</div>
			<div class="col-sm-12">
				<button type="button" class="btn btn-success btn-block" 
				ng-click="login.login()" 
				ng-disabled="data.$invalid">Login</button>
				<p class="text-xs-right text-muted footer">
					New here? <a href="#" class="text-primary">Register</a><span class="separator"> | </span><a href="" 
					ng-click="login.lost()" class="text-primary">Lost&nbsp;your&nbsp;password?</a>
				</p>
			</div>
		</fieldset>
	</form>
</div>